.badge {
  display: inline-block;
  color: white;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.3px;
  padding: 4px 10px;
  border-radius: 12px;
}

.badge p {
color: black;
  margin: 0;
}

.badge-available {
  background-color: green;
}

.badge-busy {
  background-color: gray;
}